/* responsive header */
@media (max-width: 1000px)
{
	header{
		padding: 0 20px;
	}
	.menu-toggle {
		display: block;
	}
	header nav {
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #e67e22;
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active {
		left:0;
	}
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a {
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
	
	.footer-item{
        width: 50%;
    }
}

