


/* css extra1*/
.extra1{
	padding: 100px 100px;
}

.content-wrapper{
	height: 580px;
	margin-top: 20px;
	margin-bottom: 50px;	
}

.heading{
	border-bottom: 2px solid #dee7ec;
	border-top: 2px solid #dee7ec;
	font-size: 28px;
	padding-bottom: 15px;
	margin-bottom: 50px;
	padding-top: 15px;
	text-align: center;
}

.content-wrapper h2{
	font-weight: normal;
}

.content{
	float: left;
	width: 25%;
}

.detail{
	position: relative;
	margin: auto;
	padding: 0 5px;
}

.content img{
	width: 100%;
	height: 200px;
}

.txt-contents{
	position: absolute;
	top: 0;
	left: 10;
	color: #fff;
	padding: 8px 10px;
	background-color:#000;
	text-align: left;
}

/*css extra1 */
