/* css header */
body{
	margin: 0;
	padding: 0;
	font-family: 'Baloo Bhaina 2', cursive;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #e67e22;
	width: 100%;
	box-sizing: border-box;
	opacity: 0.5;
}

header .logo {
	color: #fff;
	height: 50px;
	line-height: center;
	font-size: 24px;
	font-family: 'Lobster Two', cursive;
	float: left;
	font-weight: bold;
	margin-top: 10px;
}

header nav {
	float: right;
}

header nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li {
	list-style: none;
}

header nav ul li a{
	height: 50px
	line-height: center;
	padding: 0 20px;
	color: #000;
	text-decoration: none;
	display: block;
	margin-top: 15px;
}

header nav ul li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.5);
}

.menu-toggle {
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

@media (max-width: 1000px)
{
	header{
		padding: 0 20px;
	}
	.menu-toggle {
		display: block;
	}
	header nav {
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #e67e22;
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active {
		left:0;
	}
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a {
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
	
}
/* css bagian utama */
body {
	font-family: ‘quicksand’, sans-serif;
}
a {
	text-decoration: none;
}
img:hover {
	transform: scaleX(-1);
}
.clear {
	clear: left;
}
.top-wrapper {
	background-image: url(frank-vessia-EoThx95bYPg-unsplash.jpg);
	background-size: cover;
	padding-top: 30px;
	color: white;
	text-align: right;
}
.container {
	max-width: 1170px;
	width: 100%;
	padding-left: 20px;
	padding-right: 40px;
	margin: 0 auto;
}
.top-wrapper h1 {
	margin-top: 80px;
	font-size: 120px;
	font-style: bold;
}
.top-wrapper h2 {
	font-style: italic;
	font-size: 60px;
	margin-top: 20px;
}
.container p {
	font-size: 30px;
	margin-left: 600px;
	text-align: right;
}
.top-wrapper span {
	color: #fdcb6e;
}
.btn-wrapper {
	margin: 20px 0;
	width: 30%;
}
.btn-wrapper p {
	margin: 10px 0;
}

.btn-wrapper a{
	width:500px;	
}

.signup {
	background-color: #00b894;
}
.facebook {
	background-color: #3b5998;
}
.twitter {
	background-color: #55acee;
}
.btn {
	padding: 12px 24px;
	color: white;
	display: block;
	opacity: 0.8;
	border-radius: 20px;
	text-align: center;
	margin-right: 40px;
	margin-left: 835px;
	margin-bottom: 10px;
}
.btn:hover {
	opacity: 1;
}
.btn span {
	color: white;
}
.fa {
	margin-right: 10px;
	text-align: left;
}
.travel-style {
	padding-bottom: 20px;
	background-color: #f7f7f7;
	text-align: center;
	padding-top: 30px;
	color: #5f5d60;
	height: 300px;
}
.style h3 {
	font-weight: normal;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	width: 100%;
}
.style {
	float: left;
	width: 25%;
	background-color: #f7f7f7;
}
.style img {
	width: 50%;
	height: 100%;
	text-align: center;
	padding-top: 30px;
}
.style-icon p {
	width: 50%;
	margin-top: 30px;
	padding-top: 20px;
	font-weight: bold;
	margin: 0 auto;
}
.txt-contents {
	width: 80%;
	display: inline-block;
	margin-top: 30px;
	font-size: 15px;
	color: #b3aeb5;
}

/* css extra1*/
.extra1{
	padding: 100px 100px;
}

.content-wrapper{
	height: 580px;
	margin-top: 20px;
	margin-bottom: 50px;	
}

.heading{
	border-bottom: 2px solid #dee7ec;
	border-top: 2px solid #dee7ec;
	font-size: 28px;
	padding-bottom: 15px;
	margin-bottom: 50px;
	padding-top: 15px;
	text-align: center;
}

.content-wrapper h2{
	font-weight: normal;
}

.content{
	float: left;
	width: 25%;
}

.detail{
	position: relative;
	margin: auto;
	padding: 0 5px;
}

.content img{
	width: 100%;
	height: 200px;
}

.text-contents{
	position: absolute;
	top: 0;
	left: 10;
	color: #fff;
	padding: 8px 10px;
	background-color:#000;
	text-align: left;
}

/*css extra1 */


/*responsive */

@media all and (max-width: 1000px){
	.content{
		width: 50%;

	}


@media all and (max-width: 670px){
	.content{
		width: 100%;
	}
}
/* CSS BAGIAN FOOTER	 */
	*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.footer{
    width: 100%;
    background: #1b1d1f;
    display: block;
}
.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-item{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
h1{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
.footer-item p{
    color: sandybrown;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
h2{
    margin: 10px 0;
    color: rgb(61, 177, 51);
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 40px;
    background: tan;
}
ul{
    list-style: none;
    color: rgb(241, 133, 223);
    font-size: 15px;
    letter-spacing: 0.5px;

}
ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
ul a:hover{
    color: #fff;
    
}
ul li{
    margin: 10px 0;
    height: 25px;
}
li i{
    margin-right: 20px;
}
.social-media{
    width: 100%;
    color: #fff;
    text-align: center;
}
.social-media a{
    text-decoration: none;
}
.social-media i{
    height: 15px;
    width: 15px;
    margin:20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;
}
.social-media i:hover{
    background: grey;
}
.footer-bottom{
    padding: 10px;
    background: hsl(199, 86%, 54%);
    color: rgb(26, 26, 11);
    font-size: 13px;
    text-align: center;
}
@media screen and (max-width:1085px){
    .footer-item{
        width: 50%;
    }
}
@media screen and (max-width:600px){
    .footer-item{
        width: 100%;
    }
}
