


/* css extra1*/
.extra1{
	padding: 100px 100px;
}

.content-wrapper{
	height: 580px;
	margin-top: 20px;
	margin-bottom: 50px;	
}

.heading{
	border-bottom: 2px solid #dee7ec;
	border-top: 2px solid #dee7ec;
	font-size: 28px;
	padding-bottom: 15px;
	margin-bottom: 50px;
	padding-top: 15px;
	text-align: center;
}

.content-wrapper h2{
	font-weight: normal;
}

.content{
	float: left;
	width: 25%;
}

.detail{
	position: relative;
	margin: auto;
	padding: 0 5px;
}

.content img{
	width: 100%;
	height: 200px;
}

.txt-contents{
	position: absolute;
	top: 0;
	left: 10;
	color: #fff;
	padding: 8px 10px;
	background-color:#000;
	text-align: left;
}

/*css extra1 */


/*responsive */

@media all and (max-width: 1000px){
	.content{
		width: 50%;

	}


@media all and (max-width: 670px){
	.content{
		width: 100%;
	}
}
/* CSS BAGIAN FOOTER	 */
	*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.footer{
    width: 100%;
    background: #1b1d1f;
    display: block;
}
.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-item{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
h1{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
.footer-item p{
    color: sandybrown;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
h2{
    margin: 10px 0;
    color: rgb(61, 177, 51);
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 40px;
    background: tan;
}
ul{
    list-style: none;
    color: rgb(241, 133, 223);
    font-size: 15px;
    letter-spacing: 0.5px;

}
ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
ul a:hover{
    color: #fff;
    
}
ul li{
    margin: 10px 0;
    height: 25px;
}
li i{
    margin-right: 20px;
}
.social-media{
    width: 100%;
    color: #fff;
    text-align: center;
}
.social-media a{
    text-decoration: none;
}
.social-media i{
    height: 15px;
    width: 15px;
    margin:20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;
}
.social-media i:hover{
    background: grey;
}
.footer-bottom{
    padding: 10px;
    background: hsl(199, 86%, 54%);
    color: rgb(26, 26, 11);
    font-size: 13px;
    text-align: center;
}
@media screen and (max-width:1085px){
    .footer-item{
        width: 50%;
    }
}
@media screen and (max-width:600px){
    .footer-item{
        width: 100%;
    }
}
